In [8]:
import plotly.express as px
import pandas as pd
import plotly.io as pio
import imageio
from tqdm import tqdm

In [9]:
# load parquet file to dataframe
df = pd.read_parquet('../data/log-interpol/interpol.parquet')

In [10]:
df.head()

team 50b848eb-150d-11ef-a477-15bc960d382e             \
dim                                   lat        lon
0                               49.018418  12.096596
1000                            49.018418  12.096595
2000                            49.018418  12.096595
3000                            49.018418  12.096595
4000                            49.018418  12.096595

team a4eebb09-1514-11ef-b019-73f1875d90c5             \
dim                                   lat        lon
0                               49.018377  12.096603
1000                            49.018377  12.096603
2000                            49.018377  12.096603
3000                            49.018377  12.096603
4000                            49.018377  12.096603

team b1d91f00-1514-11ef-90d9-870e7bed4f26             \
dim                                   lat        lon
0                               49.018386  12.096590
1000                            49.018388  12.096587
2000                            49.018388  12.096585
3000                            49.018388  12.096585
4000                            49.018388  12.096584

team 56971933-150d-11ef-9427-2bf640545472             \
dim                                   lat        lon
0                               49.018445  12.096630
1000                            49.018444  12.096632
2000                            49.018442  12.096636
3000                            49.018440  12.096640
4000                            49.018438  12.096644

team 284f0e6b-1514-11ef-a3d1-710a0d2c97dd
dim                                   lat        lon
0                               49.018446  12.096713
1000                            49.018445  12.096713
2000                            49.018445  12.096713
3000                            49.018445  12.096713
4000                            49.018445  12.096714

In [11]:
# get list of teams
teams = list(set(c[0] for c in df.columns))
teams

['50b848eb-150d-11ef-a477-15bc960d382e',
 'b1d91f00-1514-11ef-90d9-870e7bed4f26',
 'a4eebb09-1514-11ef-b019-73f1875d90c5',
 '56971933-150d-11ef-9427-2bf640545472',
 '284f0e6b-1514-11ef-a3d1-710a0d2c97dd']

In [12]:
# Render the frames figures
figs = []
n_frames = 8
for t in tqdm(df.index[1800:1920:]):
    # Example data
    data = {'team': teams,
            'lat': [df[team, 'lat'][t] for team in teams],
            'lon': [df[team, 'lon'][t] for team in teams]}
    df_plot = pd.DataFrame(data)

    # Create plot
    fig = px.scatter_mapbox(df_plot, lat="lat", lon="lon", color="team", zoom=15)
    fig.update_layout(mapbox_style="open-street-map", mapbox_center_lat=df[teams[0], 'lat'][0], mapbox_center_lon=df[teams[0], 'lon'][0])
    figs.append(fig)

100%|██████████| 120/120 [00:06<00:00, 17.50it/s]

In [13]:
# Convert figures to images
frames = []
for fig in tqdm(figs):
    img_bytes = pio.to_image(fig, format="png")
    img = imageio.v2.imread(img_bytes)
    frames.append(img)

100%|██████████| 120/120 [02:07<00:00,  1.06s/it]

In [14]:
# Save frames as a video
imageio.mimsave("video.mp4", frames, fps=30)

IMAGEIO FFMPEG_WRITER WARNING: input image is not divisible by macro_block_size=16, resizing from (700, 500) to (704, 512) to ensure video compatibility with most codecs and players. To prevent resizing, make your input image divisible by the macro_block_size or set the macro_block_size to 1 (risking incompatibility).